extends layout

block head
  title Restaurant | Booking Information
  
block defaultStyleSheet
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  script(src='/javascripts/jquery-3.3.1.slim.min.js' )
  script(src='/javascripts/bootstrap.min.js')

block customStyleSheet
  link(rel='stylesheet', href='/stylesheets/restaurantHome.css')

block content
  .wrapper(style="background-image: url('/images/banner.jpg')")
    .inner
      .image-holder
        img(src='/images/restaurant.jpg')
      form(method="POST" action="#")
        h3 Booking Information
        h6.text-danger= "This is some info"
        br
        .form-wrapper
          label(for='email') Email:
          input.form-control(type='text', value=email, disabled,  name="email" , id="email")
        .form-wrapper
          if payload
            input.form-control(type='text', value=payload.time, disabled, name="time" , id="time")
          else
            input.form-control(type='text', placeholder='Time (1AM-3AM)',name="time" , id="time")
        .form-wrapper
          if payload
            input.form-control(type='text', value=payload.date, disabled, name="date" , id="date")
          else
            input.form-control(type='text', placeholder='Date', name="date" , id="date")
        
        if receiveInfo
          if receiveInfo.isBooked=='true'
            if receiveInfo.email
              h6.text-success Booking Done Succesfully. Enjoy!!
            else
              h6.text-danger Sorry to inform you, but all seats are booked.
              a(href='http://localhost:8080', style='text-decoration: none') Please Plan again
          else
            h6.text-success Seats available, If you want to book please press submit button. 
            .form-group.container-login100-form-btn
              button#btn-update(type='submit')
                | Submit
