body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 10%;
}

a {
    color:cornflowerblue;
    text-decoration: none;
}